*
{color: #000;}


body {
    background-color: #E7E7E7;
}
.nav{
    background-color:#E7E7E7 ;
    
    align-items: center;
   padding-top: 10px;
}
.nav img{
    width: 50px ;
    height: 50px;
  
}

.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% ;
    }

.carousel-indicators  .active{
background-color: #0315bb !important;
width: 35px !important;
height: 15px !important;
border-radius: 13px !important;
}
.card-container1 {
    height: 300px;
    overflow-y: auto;

  }
.card-container {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .card {
    display: inline-block;
    width: 103px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
.card-body
{
    padding: 0px;
}
 
.caro{
    width: 100% ;  
}
.img-caro{
    width: 100% !important;
    height: 300px !important;
    border-radius: 0px 0px 80px 80px;
    background-size: cover;
}
.card img{
    width: 100px !important;
    height: 120px;
    border-radius: 13px ;
}
  footer{
    display:flex;
    padding-top: 10px ;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    background-color:rgb(255, 249, 249);
}
 footer a{
padding: 10px;
 }

 h5{
    font-size: 11px;
 }